@model Traveler.Models.Travel

@{
    ViewBag.Title = "Moje podróże";
}
<div class="container body-content">
    <div class="md_GolistHeader" id="md_golist_header">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <strong>
            Opisywane miejsca:
            @{
                foreach (var item in Model.Cities)
                {
                    <li>
                        @item.Name - @item.Country.Name
                    </li>
                }
            }
        </strong>
    </div>
    <div class="md_GolistPoint" id="md_golist_pointer">
        <p> @Html.DisplayFor(model => model.Description)</p>
    </div>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.TravelID }) |
    @Html.ActionLink("Usuń", "Delete", new { id = Model.TravelID })
</p>