@model Traveler.Models.Travel

@{
    ViewBag.Title = "Moje podróże - " + Model.Name;
}

<div class="row">
    <h2 class="col-sm-7">@Html.DisplayFor(model => model.Name)</h2>
    <div class="col-sm-5 toolbar">
        @Html.ActionLink("Dodaj miejsce", "Create", "Places", new { travelID = Model.TravelID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.TravelID }, new { @class = "btn btn-default" })
        @Html.ActionLink("Usuń", "Delete", new { id = Model.TravelID }, new { @class = "btn btn-default" })
    </div>
</div>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>

@if (Model.Places.Count == 0)
{
    <div class="alert alert-warning">
        Ta podróż jeszcze nie ma żadnych miejsc, proszę dodaj je przyciskiem "Dodaj miejsce"
    </div>
}
else
{
    <h3>Miejsca</h3>
    <hr />
    <div class="row">
        @foreach (var place in Model.Places)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @if (place.Photos.Count == 0)
                    {
                        <div class="no-photo-thumbnail">
                            <img src="~/Content/ic_landscape_black_48dp_2x.png">
                        </div>
                    }
                    else
                    {
                        <img src="~/uploads/@(place.Photos.First().Name).jpg">
                    }
                    <div class="caption">
                        <h3>@place.Name</h3>
                        <h5>@place.City.Name, @place.City.Country.Name</h5>
                        <p>
                            @Html.ActionLink("Pokaż", "Details", "Places", new { id = place.PlaceID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Usuń", "Delete", "Places", new { id = place.PlaceID }, new { @class = "btn btn-default" })
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}

