@model Traveler.Models.Travel

@{
    ViewBag.Title = "Moje podróże - " + Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<p>
    @Html.DisplayFor(model => model.Description)
</p>

<div class="alert alert-warning">
    Ta podróż jeszcze nie ma żadnych miejsc, proszę dodaj je przyciskiem "Dodaj miejsce"
</div>

<div>
    @Html.ActionLink("Dodaj miejsce", "Create", "Place", new { id = Model.TravelID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.TravelID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Usuń", "Delete", new { id = Model.TravelID }, new { @class = "btn btn-default" })
</div>
