@model IEnumerable<Traveler.Models.Travel>

@{
    ViewBag.Title = "Moje podróże";
}

<h2>@ViewBag.Title</h2>

@if (User.Identity.IsAuthenticated)
{<input type="button" class="btn btn-default" value="Nowa podróż" onclick="location.href='@Url.Action("Create", "Travels")'" />}
  <table>
    <div class="short_selection">
        
            @{
                var i = 0;
                foreach (var item in Model)
                {
                    
                        @(i%3 == 0 ? Html.Raw("<tr>") : Html.Raw(""))
                    <td>
                        <div class="div_list">
                            <a href="@Url.Action("Details","Travels", new { id = item.TravelID }) ">
                                <span class="span_div_list">
                                    @item.Name
                                    <br />
                                    @foreach (var item2 in item.Cities)
                                    {
                                        @(item2.Name + " " )

                                    }
                                </span>
                                @if (item.Photos.Count > 0)
                                {
                                <img src="~/uploads/@(item.Photos.First().Name).jpg" class="img_div_list" />
                                }
                            </a>
                        </div>
                    </td>
                        @(i % 3 == 2 ? Html.Raw("</tr>") : Html.Raw(""))
                    
                    i++;
                }

            }
       

    </div>
</table> 