@model Traveler.Models.UserViewModel
@{
    ViewBag.Title = Model.User.Nick;
}

<h2>@Model.User.Nick</h2>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">

            @if (Model.User.Avatar.IsEmpty())
            {
                <div class="no-photo-thumbnail">
                    <img src="~/Content/ic_person_black_48dp_2x.png" height="250px" width="250px">
                </div>
            }
            else
            {
                <img src="~/uploads/@Model.User.Avatar" height="250px" width="250px">
            }

        </div>

    </div>

    <div class="col-md-9">
        <dl class="dl">

           <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>
            <dd>
               
                 @(Model.User.Name.IsEmpty() ? Html.Label("Brak danych") : Html.DisplayFor(model => model.User.Name))
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.User.Surname)
            </dt>
            <dd>
               @(Model.User.Surname.IsEmpty() ? Html.Label("Brak danych") : Html.DisplayFor(model => model.User.Surname))
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.User.Male)
            </dt>
            <dd>
                @(Model.User.Age == 2 ? "Kobieta" : Model.User.Male == 1 ? "Meżczyzna" : "Brak danych")
            </dd>

            <dt>
               
                @Html.DisplayNameFor(model => model.User.Age)
            </dt>
            <dd>
                @(Model.User.Age == 0 ? Html.Label("Brak danych") : Html.DisplayFor(model => model.User.Age))
            </dd>

            <dt>
               
                @Html.DisplayNameFor(model => model.User.City)
            </dt>
            <dd>
               @(Model.User.City.IsEmpty() ? Html.Label("Brak danych") : Html.DisplayFor(model => model.User.City))
            </dd>

            <dt>

                @Html.DisplayNameFor(model => model.User.Country)
            </dt>
            <dd>
               @(Model.User.Country.IsEmpty() ? Html.Label("Brak danych") : Html.DisplayFor(model => model.User.Country))
            </dd>
        </dl>

    </div>
    <hr />
</div>
    <h3>Podróże</h3>
    <hr />
    @if (Model.Travels.Count > 0)
    {

        var travelsCount = Model.Travels.Count > 3 ? 3 : Model.Travels.Count;
        var travelsColumnNumber = 12 / travelsCount;


        <div class="row">
            @foreach (var travel in Model.Travels)
            {
                var photoFileName = "";
                foreach (var place in travel.Places)
                {
                    if (place.Photos.Count > 0)
                    {
                        photoFileName = place.Photos.First().FileName;
                        break;
                    }
                }

                <div class="col-sm-@travelsColumnNumber">
                    <a href="@Url.Action("Show", "Travels", new { id = travel.TravelID })">
                        <div class="thumbnail">
                            @if (photoFileName.IsEmpty())
                            {
                                <div class="no-photo-thumbnail">
                                    <img src="~/Content/ic_landscape_black_48dp_2x.png">
                                </div>
                            }
                            else
                            {
                                <img src="~/uploads/@photoFileName">
                            }
                            <div class="caption">
                                <h3>@travel.Name</h3>
                                <h5>@travel.Description</h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">Ten użytkownik nie dodał żadnych podróży :(</div>
    }
