@model Traveler.Models.Place

@{
    ViewBag.Title = "Dodaj miejsce";
}

<h2>Dodaj miejsce</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="Travel" class="control-label col-md-2">Podróż</label>
            <div class="col-md-10" style="padding-top: 7px;">
                <a href="@Url.Action("Details", "Travels", new { id = ViewBag.TravelID })">@ViewBag.TravelName</a>
                <input type="hidden" value="@ViewBag.TravelID" name="TravelID" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Country" class="control-label col-md-2">Państwo</label>
            <div class="col-md-10">
                @Html.DropDownList("Country", null, htmlAttributes: new { @class = "form-control", @onchange = "onCountrySelect(this.value)" })
            </div>
        </div>

        <div id="citiesFormGroup" class="form-group">
            <label for="City" class="control-label col-md-2">Miasto</label>
            <div class="col-md-10">
                <select id="City" name="CityID" class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photos, htmlAttributes: new { @class = "control-label col-md-2" })
            <input type="file" multiple id="file" name="file" accept="image/*" />
            <div class="selectedFiles"></div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a class="btn btn-default" href="@Url.Action("Details", "Travels", new { id = ViewBag.TravelID })">Anuluj</a>
            </div>
        </div>
    </div>
}

<script>
    var countryId = $("#Country").val();
    var cities = [];

    if (countryId) {
        onCountrySelect(countryId);
    }

    function onCountrySelect(countryID) {
       $('#City').empty();

        $.ajax('/Cities/ByCountry/' + countryID).done(function (data) {
            cities = data;
            for (var i = 0; i < data.length; i++) {
                appendOptionToCitiesSelect(data[i].CityID, data[i].Name);
            }
        });
    }

    function appendOptionToCitiesSelect(id, name) {
        $('#City').append('<option value="' + id + '">' + name + '</option>');
    }

    var selDiv = "";

    document.addEventListener("DOMContentLoaded", init, false);

    function init() {
        document.querySelector('#file').addEventListener('change', handleFileSelect, false);
        selDiv = document.querySelector(".selectedFiles");
    }

    function handleFileSelect(e) {

        if (!e.target.files || !window.FileReader) return;

        selDiv.innerHTML = "";

        var files = e.target.files;
        var filesArr = Array.prototype.slice.call(files);
        filesArr.forEach(function (f) {

            if (!f.type.match("image.*")) {
                return;
            }

            var reader = new FileReader();
            reader.onload = function (e) {
                var class_ = "SelectedImg";
                var html = "<img src=\"" + e.target.result + "\" class=" + class_ + ">";
                selDiv.innerHTML += html;
            }
            reader.readAsDataURL(f);
        });

    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
