@model Traveler.Models.Search
@{
    ViewBag.Title = "Szukaj";
}

<h2>Wyniki wyszukiwania dla wyrażenia "@Model.Query"</h2>
<hr />
@if (Model.Users.Count > 0)
{
    <h3>Użytkownicy</h3>
    <br />
    <div class="row">
        @foreach (var user in Model.Users)
        {
            <a href="@Url.Action("Show", "Users", new { id = user.Nick })" class="col-sm-4" style="display: block;">
                <div class="thumbnail">
                    
                        @if(user.Avatar.IsEmpty()) {
                    <div class="no-photo-thumbnail">
                        <img src="~/Content/ic_person_black_48dp_2x.png">
                    </div>
                        }
                        else
                        {
                        <img src="~/uploads/@user.Avatar" height="200px" width="350px">
                        }
                   
                </div>
                <div class="caption">
                    <h4>@user.Nick</h4>
                </div>
            </a>
        }
    </div>
}

@if (Model.Countries.Count > 0)
{
    <h3>Państwa</h3>
    <br />
    <div class="row">
        @foreach (var country in Model.Countries)
        {
            <a href="@Url.Action("Country", "Search", new { id = country.CountryID })" class="col-sm-4" style="display: block;">
                <div class="thumbnail">
                  @if(Model.CountriesPhoto.Count>0)
                  { 
                      foreach(var photo in Model.CountriesPhoto)
                        {
                            if(photo.idPlace == country.CountryID)
                            {
                                <img src="~/uploads/@photo.photo.FileName"height="200px" width="350px"> 
                            }
                            else{
                                 <div class="no-photo-thumbnail">
                                    <img src="~/Content/ic_landscape_black_48dp_2x.png" />
                                </div>
                             }
                        }
                  }else 
                  {
                    <div class="no-photo-thumbnail">
                        <img src="~/Content/ic_landscape_black_48dp_2x.png" />
                    </div>
                  }
                </div>
                <div class="caption">
                    <h4>@country.Name</h4>
                </div>
            </a>
        }
    </div>
}

@if (Model.Cities.Count > 0)
{
    <h3>Miasta </h3>
    <br />
    <div class="row">
        @foreach (var city in Model.Cities)
        {
            <a href="@Url.Action("City", "Search", new { id = city.CityID })" class="col-sm-4" style="display: block;">
                <div class="thumbnail">
                    @if(Model.CitiesPhoto.Count>0){
                        foreach(var photo in Model.CitiesPhoto)
                        {
                            if(photo.idPlace == city.CityID)
                            {
                                 <img src="~/uploads/@photo.photo.FileName" height="200px" width="350px">
                            }
                            else{
                                <div class="no-photo-thumbnail">
                                    <img src="~/Content/ic_landscape_black_48dp_2x.png" />
                                </div>
                            }
                        }
                    }else
                    {
                        <div class="no-photo-thumbnail">
                            <img src="~/Content/ic_landscape_black_48dp_2x.png" />
                        </div>
                    }
                </div>
                <div class="caption">
                    <h4>@city.Name</h4>
                </div>
            </a>
        }
    </div>
}

@if (Model.Users.Count == 0 && Model.Countries.Count == 0 && Model.Cities.Count == 0)
{
    <div class="alert alert-warning">Niestety niczego nie znaleziono :(</div>
}